@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor:#59124F;
    --secondColor:#DD3CCD;
    --thirdColor:#AD2DA1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* header */

.header{
    margin-bottom: 20px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar-brand{
    display: flex;
}


.header__brand a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header__brand a img{
    width: 70px;
}

.header__brand a h1{
    font-size: 25px;
    font-weight: 800;
    color: var(--secondColor)
}

.navbar{
    margin-top: 13px;
    margin-left: 50px;
}


.navbar ul li{
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--thirdColor);
}

.navbar ul li a:hover{
    color:var(--primaryColor);
}

.btn__1{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    background-color: var(--primaryColor);
    padding: 5px 20px;
    border-radius: 5px;
    transition-property:border-radius;
    transition-duration: 1000ms;
}

.btn__1:hover{
    color: white;
    background-color: var(--thirdColor);
    border-radius: 0;
}

/* search-section */

.search-section{
    display: flex;
    background-color: var(--thirdColor);
    margin-bottom: 100px;
    height: 50px;
    justify-content: end;
    align-items: center;
}

form{
    margin-right: 20px;
}

form input{
    border-radius: 5px;
    border: 1px solid var(--thirdColor);
}

.btn_search{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: var(--primaryColor);
    padding: 1px 10px;
    border-radius: 5px;
}

.btn_search:hover{
    color: var(--primaryColor);
    background-color: white;
    border-radius: 0;
}


