@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --primaryColor:#59124F;
    --secondColor:#DD3CCD;
    --thirdColor:#AD2DA1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}


/* header */

.header{
    margin-bottom: 20px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar-brand{
    display: flex;
}


.header__brand a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.header__brand a img{
    width: 70px;
}

.header__brand a h1{
    font-size: 25px;
    font-weight: 800;
    color: var(--secondColor)
}

#menu{
    position: absolute;
    right: 10px;
    top: 24px;
    display: none;
    z-index: 1000;
}

.menu__Icon{
    width: 25px;
}

.menu__Icon{
    cursor: pointer;
    display: none;
}

.navbar{
    margin-top: 13px;
    margin-left: 50px;
}


.navbar ul li{
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a{
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: var(--thirdColor);
}

.navbar ul li a:hover{
    color:var(--primaryColor);
}

.btn__1{
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    margin-right: 20px;
    color: white;
    background-color: var(--primaryColor);
    padding: 5px 20px;
    border-radius: 5px;
    transition-property:border-radius;
    transition-duration: 1000ms;
}

.btn__1:hover{
    color: white;
    background-color: var(--thirdColor);
    border-radius: 0;
}

/* search-section */

.search-section{
    display: flex;
    background-color: var(--thirdColor);
    margin-bottom: 100px;
    height: 50px;
    justify-content: end;
    align-items: center;
}

form{
    margin-right: 20px;
}

form input{
    border-radius: 5px;
    border: 1px solid var(--thirdColor);
    padding: 5px;
    font-size: 12px;
    height: 27px;
}

.btn_search{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: var(--primaryColor);
    padding: 1px 10px;
    border-radius: 0 10px 10px 0;
    transition-property:border-radius;
    transition-duration: 1000ms;
}

.btn_search:hover{
    color: var(--primaryColor);
    background-color: white;
    border-radius: 0;
}

/* welcoment */


.welcoment{
    margin-bottom: 100px;
}

.welcoment__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.welcoment__text h2{
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.welcoment__text p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}

.welcoment__img img{
    width: 100%;
}


/* information */


.information{
    margin-bottom: 100px;
}

.information__about-us{
    display: flex;
}

.information__about-us img{
    width: 50%;
}

.about__text{
    width: 50%;
    padding: 100px 20px;
    text-align: center;
    align-self: center;
    background-color: #e6dddd;
}

.about__text h3{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.about__text p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.information__offers{
    display: flex;
}

.offer__text{
    width: 50%;
    padding: 100px 20px;
    text-align: center;
    align-self: center;
    background-color: #e6dddd;
}

.offer__text h3{
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.offer__text p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
}

.information__offers img{
    width: 50%;
}

/* course */

.course{
    margin-bottom: 100px;
}

.course__brand{
    text-align: center;
}

.course__brand img{
    width: 100px;
}

.course__brand h2{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.course__brand p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 50px;
}

.course__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 20px;
}

.course__group {
    display: flex;
}

.course__group{
    text-align: center;
    background-color: #c7c3c3;
    box-shadow: 2px 2px 4px var(--primaryColor);
    /* #c7c3c3 */
}

.course__group{
    padding: 20px;
}

.course__img{
    display: flex;
}

.course__img img{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    align-self: center;
    padding: 10px;
    margin: 0 10px;
}

.course__text{
    width: 400px;
}

.course__text h4{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.course__text p{
    font-size: 14px;
    text-align: justify;
}

/* testimony */

.testimony{
    margin-bottom: 200px;
    text-align: center;
}

.testimony h2{
    font-size: 25px;
}

.testimony .pa{
    color: var(--secondColor);
    font-weight: 500;
}

.testimony hr{
    display: inline-block;
    width: 100px;
    height: 2px;
    background-color: var(--secondColor);
    text-align: center;
}

.testimony__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    text-align: center;
}

.testimony__group{
    border: 1px solid var(--secondColor);
}

.testimony__group p{
    font-size: 14px;
    font-weight: 300;
    padding: 20px 20px 0 20px;
}

.testimony__information{
    margin-bottom: -125px;
}

.testimony__information h4{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.testimony__information p{
    color: var(--secondColor);
    font-size: 14px;
    font-weight: 500;
}

.testimony__information img{
    text-align: center;
    width:80px;
    height: 80px;
    border-radius: 50%;
}

/* boton de whatsapp flotante */
.botton-whatsapp{
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
}

.botton-whatsapp a{
    display: block;
    background-color: #25d366;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.botton-whatsapp img {
    width: 30px;
}


/* footer */

.footer{
    padding: 70px 0;
    background-color: var(--primaryColor);
}

.footer__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__brand a{
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.foooter__link a{
    font-size: 14px;
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.foooter__link a:hover{
    color: #DD3CCD;
    font-size: 16px;
}


.networks{
    margin-right: 20px;
}

.networks a{
    font-size: 16px;
    text-decoration: none;
    padding-left: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    color: var(--thirdColor);
}

.networks a:hover{
    font-size: 20px;
    color: black;
}

@media (max-width:991px){
    .header-navbar-brand{
        margin-bottom: 20px;
        flex-direction: column;
    }

    .header__content{
        flex-direction: column;
    }

    .header__content .menu__Icon{
        display: inline;
        position: absolute;
        right: 10px;
        top: 24px;

    }

    .header__content .navbar{
        position: absolute;
        left: 0;
        right: 50px;
        background-color:var(--primaryColor);
        border-radius: 10px;
        display: none;
    }

    .header__content .navbar ul li{
        width: 100%;
    }

    .header__content .navbar ul li a{
        color: white;
    }

    #menu:checked ~ .navbar{
        display: inline;
    }

    .buttom a{
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .welcoment__content{
        display: block;
    }

    .information__about-us{
        flex-direction: column;
    }

    .information__about-us img{
        width: 100%;
    }

    .about__text{
        width: 100%;
    }

    .information__offers{
        flex-direction: column;
    }

    .offer__text{
        width: 100%;
    }

    .information__offers img{
        width: 100%;
    }

    .course__content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    .course__group{
        flex-direction: column;
    }

    .course__img{
        align-self: center;
    }

    .course__text{
        width: 100%;
    }

    .testimony__content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 150px;
    }

    .footer__content{
        flex-direction: column;
    }
    .footer__brand{
        margin-bottom: 20px;
    }

    .foooter__link{
        margin-bottom: 20px;
    }
}